header h1 {
    background: url("ads.jpg") left / auto 100% no-repeat,
    url("ads.jpg") right / auto 100% no-repeat;
}
.root {
    font-size: larger;
}

img.main-image {
    width: 300px;
}
img.additional-image {
    width: 180px;
}
