{% extends 'layout/basic.html' %}

{% block title %}О сайте{% endblock %}

{% block content %}
<div class="about__container">
    <p class="about__name">О сайте</p>
    <div class="about__info">
                <p>Сайт для публикации объявлений для групп кафедры СУ, а также публикации
                    учебных материалов для студентов.</p>
                <p>Все права принадлежат кафедре СУ.</p>

<!--        <p>Кафедра осуществляет подготовку бакалавров дневной формы обучения по специальности 122 — «Компьютерные науки»-->
<!--            на образовательной программе «Компьютерные науки», по специализации «Управление проектами в сфере-->
<!--            информационных технологий», а также магистров дневной и заочной форм обучения по специальности 122- -->
<!--            «Компьютерные науки» на образовательной программе «Управление проектами в сфере информационных технологий».-->

<!--            Кафедра стратегического управления была создана в 2000 году. В 2001 г. впервые в Харьковской области на-->
<!--            кафедре была открыта подготовка специалистов, а с 2003 г. — подготовка магистров по специальности-->
<!--            «Управление проектами». С 2008 г. кафедра вела подготовку бакалавров по направлению «Компьютерные науки». С-->
<!--            2016 г. кафедра осуществляет подготовку бакалавров и магистров по специальности 122- «Компьютерные науки».-->
<!--            Кафедра объединяет специалистов с многолетним опытом работы в области создания моделей, методов,-->
<!--            информационных технологий прогнозирования, стратегического управления, управления портфелями, программами,-->
<!--            проектами. Коллектив кафедры имеет значительный опыт консалтинга и проведения тренингов для бизнес структур-->
<!--            и органов власти.</p><br/>-->
<!--        <p>Научные направления</p>-->
<!--        <p> Коллектив кафедры ведет работы в следующих направлениях:-->

<!--        создание моделей, методов, информационных технологий формирования и реализации портфелей, программ,-->
<!--        проектов;-->
<!--        разработка и реализация стратегий развития предприятий в различных отраслях экономики;-->
<!--        создание методов и информационных технологий долгосрочного прогнозирования социально-экономических процессов-->
<!--        в масштабе государства, региона, предприятия;-->
<!--        подготовка и экспертная оценка бизнес-планов и инвестиционных проектов в соответствии с требованиями-->
<!--        Организации Объединенных Наций по Промышленному Развитию (UNIDO);-->
<!--        внедрение на предприятиях технологий управления проектами, программами, портфелями;-->
<!--            повышение квалификации менеджеров в области высоких технологий управления.</p>-->
<!--        <br/><p>Выпускающие специальности и специализации</p>-->
<!--        <p>Бакалавры дневной формы обучения: специальность 122 — «Компьютерные науки», образовательная программа-->
<!--        «Компьютерные науки», специализация «Управление проектами в сфере информационных технологий».-->
<!--        Магистры дневной и заочной форм обучения: специальность 122 — «Компьютерные науки», образовательная-->
<!--        программа «Управление проектами в сфере информационных технологий».</p>-->

    </div>
</div>
{% endblock %}