{% extends 'layout/basic.html' %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
{{ group }}
{% endblock %}

{% block searchform %}
{% endblock %}

{% block content %}
<div class="ads-page">
    <div class="ads__header-container">
        <form class="ads__search-form">
            {% bootstrap_form form show_label=False %}
            {% bootstrap_button content='Искать' button_type='submit' %}
        </form>
        <div class="ads__header-names">
            {% if group.name == 'Общие объявления для заочной формы' %}
            <p class="ads__header-name"> {{ group.name }}</p>
            {% elif group.name == 'Общие объявления для очной формы' %}
            <p class="ads__header-name"> {{ group.name }}</p>
            {% else %}
            <p class="ads__header-name">Объявления для {{ group.name }}</p>
            {% endif %}
        </div>
    </div>
    {% if bbs %}
    <div class="ads__container">
        {% for bb in bbs %}
        <div class="ads__item">
            {% url 'main:detail' group_pk=group.pk pk=bb.pk as url %}
            <a href="{{ url }}{{ all }}">
                {% if bb.image %}
                <img class="ads-item__img" src="{% thumbnail bb.image 'default' %}">
                {% else %}
                <img class="ads-item__img" src="{% static 'main/empty.jpg' %}">
                {% endif %}
            </a>
            <div class="ads-item__info">
                <p>{{ bb.created_at }}</p>
                <p><a href="{{ url }}{{ all }}" class="ads-item__info-name">
                    {{ bb.title }}</a></p>
                <p class="ads-item__content">{{ bb.content }}</p>
                <p class="ads-item__author">Автор: {{ bb.author.last_name }} {{ bb.author.first_name }}
                    {{ bb.author.teacher.middle_name }} </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% bootstrap_pagination page url=keyword %}
    {% endif %}
</div>
{% endblock %}