{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}Правка личных данных{% endblock %}

{% block content %}
<div class="registration">
    <div class="registration__header">
        <p class="registration__name">Правка личных данных пользователя {{ user.get_user_name }}</p>
    </div>
    <h2></h2>
    {% if user.is_teacher %}
    <div class="registration__form">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='Сохранить' %}{% endbuttons %}
        </form>
    </div>
    <p><a href="{% url 'main:profile' %}">Отмена</a></p>
    {% else %}
    <div class="registration__form">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='Сохранить' %}{% endbuttons %}
        </form>
    </div>
    <p><a href="{% url 'main:student_profile' %}">Отмена</a></p>
</div>
{% endif %}
{% endblock %}
