{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}Правка личных данных{% endblock %}

{% block content %}
    <h2>Правка личных данных пользователя {{ user.get_user_name }}</h2>
    {% if user.is_teacher %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='Сохранить' %}{% endbuttons %}
        </form>
        <p><a href="{% url 'main:profile' %}">Отмена</a></p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='Сохранить' %}{% endbuttons %}
        </form>
        <p><a href="{% url 'main:student_profile' %}">Отмена</a></p>
    {% endif %}
{% endblock %}
