{% extends "layout/basic.html" %}

{% load bootstrap4 %}
{% block title %}
Исправление комментария {{ comment.content }}
{% endblock %}

{% block content %}
<h2>Исправление комментария "{{ comment.content }}"</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons submit='Исправить' %}{% endbuttons %}
</form>
    <p><a href="{% url 'main:detail' group_pk=comment.bb.group.pk pk=comment.bb.pk %}">Отмена</a></p>
{% endblock %}