{% extends "layout/basic.html" %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="ads-page">
    <div class="ads__header-container">
        <form class="ads__search-form">
            {% bootstrap_form form show_label=False %}
            {% bootstrap_button content='Искать' button_type='submit' %}
        </form>
        {% if bbs %}
        <div class="ads__header-names">
            <p class="ads__header-name">Объявления</p>
            <a class="ads__header-link" href="{% url 'main:student_profile' %}">Объявления
                моей группы</a></div>
    </div>
    <section class="ads__container">
        {% for bb in bbs %}
        <div class="ads__item">
            {% url 'main:detail' group_pk=bb.group.pk pk=bb.pk as url %}
            <div class="ads-item__img-container ">
                <a href="{{ url }}{{ all }}">
                    {% if bb.image %}
                    <img class="ads-item__img" src="{% thumbnail bb.image 'default' %}" alt="add image">
                    {% else %}
                    <img class="ads-item__img" src="{% static 'main/empty.jpg' %}" alt="empty image">
                    {% endif %}
                </a>
            </div>
            <div class="ads-item__info">
                <p>{{ bb.created_at }}</p>
                <p><a href="{{ url }}{{ all }}" class="ads-item__info-name">{{ bb.title }}</a></p>
                <div class="ads-item__content-container">
                    <p class="ads-item__content">{{ bb.content }}</p>
                    <p class="ads-item__author">Автор: {{ bb.author.last_name }} {{ bb.author.first_name }}
                        {{ bb.author.teacher.middle_name }} </p>
                </div>
                <a class="ads-item__button-link" href="{{ url }}{{ all }}">
                    <button class="ads-item__button">Перейти</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </section>
    <div class="pagination">
        {% bootstrap_pagination page url=keyword %}
    </div>
</div>
{% endif %}
{% endblock %}
