{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <h2>Смена пароля аккаунта {{ user.email }}</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons submit='Сменить пароль' %}{% endbuttons %}
    </form>
    {% if user.is_teacher %}
        <p><a href="{% url 'main:profile' %}">Отмена</a></p>
    {% else %}
        <p><a href="{% url 'main:student_profile' %}">Отмена</a></p>
    {% endif %}
{% endblock %}