{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="registration">
    <div class="registration__header">
        <p class="registration__name">Смена пароля аккаунта {{ user.email }}</p>
    </div>
    <div class="registration__form">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='Сменить пароль' %}{% endbuttons %}
        </form>
    </div>
    {% if user.is_teacher %}
    <p><a href="{% url 'main:profile' %}">    <button class="btn-cancel edit-teacher-info">Отмена</button>
    </a></p>
    {% else %}
    <p><a href="{% url 'main:student_profile' %}">    <button class="btn-cancel edit-teacher-info">Отмена</button>
    </a></p>
    {% endif %}
</div>
{% endblock %}