{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}
{{ bb.title }} - Профиль пользователя
{% endblock %}
{% block content %}
<div class="ads-detail white-bg">
    <div class="ads__item">
        {% if bb.image %}
        <div class="ads-item__img-container"><img src="{{ bb.image.url }}" class="ads-item__img"></div>
        {% endif %}
        <div class="ads-item__info">
            <p class="ads-item__info-name"> {{ bb.title }}</p>
            <div class="ads-item__content-container">
                <p class="ads-item__content">{{ bb.content }}</p> </div>
            <p class="text-right font-italic">Объявление добавлено
                {{ bb.created_at }}</p>
        </div>
    </div>
</div>
{% if ais %}
<div class="">
    {% for ai in ais %}
    <div>
        <img class="additional-image" src="{{ ai.image.url }}">
    </div>
    {% endfor %}
</div>
{% endif %}
{% if user.is_teacher %}
<p><a href="{% url 'main:profile' %}"> <button class="btn-cancel">Назад</button></a></p>
{% else %}
<p><a href="{% url 'main:student_profile' %}"> <button class="btn-cancel">Назад</button></a></p>
{% endif %}
<h4 class="">Новый комментарий</h4>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons submit='Добавить' %}{% endbuttons %}
</form>
{% if comments %}
<div class="mt-5">
    {% for comment in comments %}
    <div class="my-2 p-2 border">
        {% if comment.author.is_teacher %}
        <h5>{{ comment.author.teacher.full_name }}</h5>
        {% else %}
        <h5>{{ comment.author.full_name }}</h5>
        {% endif %}
        <p>{{ comment.content }}</p>
        <p class="text-right font-italic">{{ comment.created_at }}</p>
        <p class="text-right mt-2">
            {% if bb.author.pk == user.pk and comment.author.pk == user.pk %}
            <a href="{% url 'main:comment_change' group_pk=comment.bb.group.pk bb_pk=comment.bb.pk pk=comment.pk %}">
                Исправить комментарий</a>
            <a href="{% url 'main:comment_delete' group_pk=comment.bb.group.pk bb_pk=comment.bb.pk pk=comment.pk %}">
                Удалить комментарий</a>
            {% elif comment.author.pk == user.pk %}
            <a href="{% url 'main:comment_change' group_pk=comment.bb.group.pk bb_pk=comment.bb.pk pk=comment.pk %}">
                Исправить комментарий</a>
            <a href="{% url 'main:comment_delete' group_pk=comment.bb.group.pk bb_pk=comment.bb.pk pk=comment.pk %}">
                Удалить комментарий</a>
            {% elif bb.author.pk == user.pk %}
            <a href="{% url 'main:comment_delete' group_pk=comment.bb.group.pk bb_pk=comment.bb.pk pk=comment.pk %}">
                Удалить комментарий</a>
            {% endif %}
        </p>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}