{% extends "layout/basic.html" %}

{% load bootstrap4 %}
{% block title %}
Удаление объявления - {{ bb.title }}
{% endblock %}

{% block content %}
<div class="about__container">
    <p class="about__name">Удалить объявление "{{ bb.title }}"?</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% buttons submit='Удалить' %}{% endbuttons %}
    </form>
    <a href="{% url 'main:profile' %}">
        <button class="btn-cancel">Отмена</button>
    </a>
</div>
{% endblock %}