{% extends 'layout/basic.html' %}

{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    Расписание
{% endblock %}

{% block content %}
    {% if user.is_teacher %}
        <p>Список расписаний </p>
    {% else %}
        {% if sbs %}
            <p>Расписание группы {{ user.group.name }}</p>
            <table border="2" cellspacing="3" align="center">
                <thead>
                <tr>
                    {% for day in header %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for r in rows %}
                    <tr>
                        <td>{{ r.time }}</td>
                        {% if not r.first_sub_monday %}
                            <td>ПУСТО</td>
                            <td>ПУСТО</td>
                        {% else %}
                            <td>{{ r.first_sub_monday.0.subject.name_of_subject }}
                                <p>{{ r.first_sub_monday.0.teacher.last_name }} {{ r.first_sub_monday.0.teacher.first_name }}
                                    {{ r.first_sub_monday.0.teacher.middle_name }}
                                </p>
                            </td>
                            <td>{{ r.first_sub_monday.0.structure.structure_name }}
                                {{ r.first_sub_monday.0.auditory.auditory_number }}</td>
                        {% endif %}

                        {% if not r.first_sub_tuesday %}
                            <td>ПУСТО</td>
                            <td>ПУСТО</td>
                        {% else %}
                            <td>{{ r.first_sub_tuesday.1.subject.name_of_subject }}
                                <p>{{ r.first_sub_tuesday.1.teacher.last_name }} {{ r.first_sub_tuesday.1.teacher.first_name }}
                                    {{ r.first_sub_tuesday.1.teacher.middle_name }}
                                </p>
                            </td>
                            <td>{{ r.first_sub_tuesday.1.structure.structure_name }}
                                {{ r.first_sub_tuesday.1.auditory.auditory_number }}</td>
                        {% endif %}
                        {% if not r.first_sub_wednesday %}
                            <td>ПУСТО</td>
                            <td>ПУСТО</td>
                        {% else %}
                            <td>{{ r.first_sub_wednesday.0.subject.name_of_subject }}
                                <p>{{ r.first_sub_wednesday.0.teacher.last_name }} {{ r.first_sub_wednesday.0.teacher.first_name }}
                                    {{ r.first_sub_wednesday.0.teacher.middle_name }}
                                </p>
                            </td>
                            <td>{{ r.first_sub_wednesday.0.structure.structure_name }}
                                {{ r.first_sub_wednesday.0.auditory.auditory_number }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3>На данный момент для вашей группы не были распределены пары. Дождитесь распределения
                от администратора сайта</h3>
        {% endif %}
    {% endif %}
{% endblock %}


{#                    <li class="media my-5 p-3 border">#}
{#                        {% url 'main:profile_sub_detail' pk=sb.subject.pk as url %}#}
{#                        <a href="{{ url }}"></a>#}
{#                        <div class="media-body">#}
{#                            <a href="{{ url }}">{{ sb.subject.name_of_subject }}</a>#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                            <p>Преподаватель: {{ sb.teacher.last_name }} {{ sb.teacher.first_name }}#}
{#                                {{ sb.teacher.middle_name }}</p>#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                            <p>Учебный корпус: {{ sb.structure.structure_name }}</p>#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                            <p>Аудитория: {{ sb.auditory.auditory_number }}</p>#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                            <p>Начало: {{ sb.start_time }}</p>#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                            <p>День недели: {{ sb.get_day_display }}</p>#}
{#                        </div>#}
{#                    </li>#}