{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}Регистрация преподавателя{% endblock %}

{% block content %}
<div class="registration">
    <div class="registration__header">
        <div class="registration-return__button">
            <a href="{% url 'main:register' %}">
                <button class="return-btn"> <button class="btn-cancel">Назад</button></button>
            </a>
        </div>
        <p class="registration__name">Регистрация нового преподавателя</p>
    </div>
    <div class="registration__form registration__form-teacher">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='Зарегистрироваться' %}{% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}